.footer__copyright {
    color: white;
    margin: 0;
    padding: 0;
    width: 186px;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    flex: 1;
}

@media screen and (max-width: 737px) {

    .footer__copyright {
        flex: content;
    }
}

@media screen and (max-width: 450px) {
    .footer__copyright {
        text-align: left;
    }
}